version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "06:00"
      timezone: "UTC"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "[deps]"
    labels:
      - "dependencies"
    versioning-strategy: increase
